<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>VisioAttend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"content="Visio Attend, GraceCOE, face-attendence">
    <meta name="author"content="Alex Matthew">
    <meta name="description"content="Automated attendence using face-recognigation system">
    <script defer src="script.js"></script>
    <link href="style.css" rel="stylesheet"/>
    <link rel="icon" href="../icon.ico">
  </head>
  <body>
    <nav>VisioAttend</nav>
    <center>
      <div id="body">
        <section id="students">
          <h4>Students</h4>
          <div class="contain">
            <button id="001" class="box yellow" onclick="edit('001')">
              <span class="sname">Alex</span>
              <span class="sid">001</span>
            </button>
            <button id="002" class="box blue" onclick="edit('002')">
              <span class="sname">name2</span>
              <span class="sid">002</span>
            </button>
            <button id="002" class="box green" onclick="edit('002')">
              <span class="sname">name2</span>
              <span class="sid">002</span>
            </button>
            <button id="002" class="box red" onclick="select('002')">
              <span class="sname">name2</span>
              <span class="sid">002</span>
            </button>
            <button class="box">3</button>
            <button class="box">4</button>
            <button class="box">5</button>
            <button class="box">6</button>
            <button class="box">7</button>
            <button class="box">8</button>
            <button class="box">9</button>
            <button class="box">10</button>
            <button class="box">11</button>
            <button class="box">12</button>
            <button class="box">13</button>
            <button class="box">14</button>
            <button class="box">15</button>
            <button class="box">16</button>
            <button class="box">17</button>
            <button class="box">18</button>
            <button class="box">19</button>
            <button class="box">20</button>
            <button class="box">21</button>
            <button class="box">22</button>
            <button class="box">23</button>
            <button class="box">24</button>
            <button class="box">25</button>
            <button class="box">26</button>
            <button class="box">27</button>
            <button class="box">28</button>
            <button class="box">29</button>
            <button class="box">30</button>
          </div>
        </section>
        <section id="edit">
          <h4>Edit</h4>
          <div class="contain">
            <h3 class="name">Alex Matthew</h3>
            <hr>
            <p class="id">950322243001</p>
            <div>
              <button class="green">Present</button>
              <button class="blue">OD</button>
              <br>
              <button class="yellow">Leave</button>
              <button class="red">Absent</button>
            </div>
          </div>
        </section>
      </div>
      <section id="bottom">
        <div id="legend">
          <button class="green"></button> - Present &nbsp; &nbsp;
          <button class="blue"></button> - OD &nbsp; &nbsp;
          <button class="yellow"></button> - Leave &nbsp; &nbsp;
          <button class="red"></button> - Absent &nbsp; &nbsp;
        </div>
        <div id="sync">
          <button>Refresh</button>
          <button>Send</button>
        </div>
      </section>
    </center>
  </body>
</html>
<!-- |⁞º▪◇⁺⁻₊∙⋅⨾ -->