@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&family=Luckiest+Guy&display=swap');
:root{
  --c1:#F0F5FE;
  --c2:#191C24;
  --c3:#262933;
  --c4:#474965;
  --c5:#EE6352;
  --c6:#BB4E3F;
  --p:rgb(58, 157, 93);
  --o:rgb(77, 112, 188);
  --l:rgb(182, 142, 62);
  --a:rgb(182, 89, 75);
  --th:'Balsamiq Sans';
  --tp:'Fredoka One';
  --tt:'Luckiest Guy';
}
body{
  background-color: var(--c2);
}
*{
  border-radius: 3px;
}
a{
  color: var(--c5);
  transition: color 300ms;
  text-decoration: none;
}
a:hover{
  color: var(--c6);
}
#logo{
  position: relative;
  bottom: 7px;
  height: 40px;
  width: 40px;
  margin: 0;
  display: inline;
}
div,nav,section,center{
  color: var(--c1);
  font-family: var(--th);
}

