@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&family=Luckiest+Guy&display=swap');
:root{
  --c1:rgba(15, 15, 20, 1);/*back-ground*/
  --c2:rgba(229, 233, 236, 1);/*front*/
  --c3:rgba(250, 131, 52, 1);/*color-2*/
  --c4:rgba(114, 206, 255, 1);/*color-1*/
  --c5:rgba(20, 20, 25, 1);/*shade-1*/
  --c6:rgba(30, 30, 35, 1);/*shade-2*/
  --c7:rgba(250, 131, 52, .3);/*color-1-glass*/
  --c8:rgba(114, 206, 255, .3);/*color-2-glass*/
  --h:'Balsamiq Sans';
  --p:'Fredoka One';
  --t:'Luckiest Guy';
}
body{
  background-color: var(--c1);
}
*{
  border-radius: 3px;
}
a{
  color: var(--c4);
  transition: color 300ms;
  text-decoration: none;
}
a:hover{
  color: var(--c3);
}
#logo{
  position: relative;
  bottom: 7px;
  height: 40px;
  width: 40px;
  margin: 0;
  display: inline;
}
div,nav,section,center{
  color: var(--c2);
  font-family: var(--h);
}
@media only screen and (max-width: 600px){
  #main{
    margin: 0;
    width: 100%;
    background-color: blue;
  }
}
@media only screen and (max-width: 1000px){
  #main{
    margin: 0;
    width: 100%;
  }
}