<!DOCTYPE html>
<html>
<head>
    <title>VisioAttend</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="csv" href="style.css" />
</head>
<body>

    <section>
            hello
    </section>

    <!-- <script>
        document.getElementById('sendButton').addEventListener('click', function() {
            const jsonData = { key1: 'value1', key2: 'value2' };
            axios.post('/send_json', jsonData)
                .then(response => {
                    console.log('Response from server:', response.data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script> -->
    <script src="script.js"></script>
</body>
</html>